[영상][[:space:]]헌법재판소[[:space:]]윤[[:space:]]대통령[[:space:]]탄핵[[:space:]]인용[[:space:]]선고[[:space:]]전문[[:space:]](2025.04.04⧸뉴스특보⧸MBC)[[:space:]][GoAVYTCGKTE].webm filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
